@page "/organization/create"
@page "/organization/edit/{id:int}"
@implements IDisposable

@inject ISnackbar _snackbar
@inject IOrganizationService _organizationService
@inject IJSRuntime _jsRuntime
@inject NavigationManager _navigationManager

<h3>Organization Edit</h3>
<MudPaper Class="pa-16 ma-2" Elevation="3">
    <EditForm Model="@editingObj">
        <DataAnnotationsValidator />
        <MudGrid>
            <MudItem xs="12" sm="7">
                <MudCard>
                    <MudCardContent>
                        <MudTextField Label="Organization Name"
                                      @bind-Value="@editingObj.Name" For="@(() => @editingObj.Name)" />
                        <MudTextField Label="Phone1" Class="mt-3"
                                      @bind-Value="@editingObj.Phone1" For="@(() => @editingObj.Phone1)" InputType="InputType.Telephone" />
                        <MudTextField Label="Phone2" Class="mt-3"
                                      @bind-Value="@editingObj.Phone2" For="@(() => @editingObj.Phone2)" InputType="InputType.Telephone" />
                        <MudTextField Label="Address1" Class="mt-3"
                                      @bind-Value="@editingObj.Address1" For="@(() => @editingObj.Address1)" />
                        <MudTextField Label="Address2" Class="mt-3"
                                      @bind-Value="@editingObj.Address2" For="@(() => @editingObj.Address1)" />
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton OnClick="@((e) => CancelEditing())"
                                   Variant="Variant.Text"
                                   EndIcon="@Icons.Material.Filled.Cancel"
                                   Color="Color.Warning"
                                   Style="text-transform:none"
                                   Disabled=false>
                        </MudButton>
                        <MudButton OnClick="@((e) => UpsertObject())"
                                   Variant="Variant.Text"
                                   EndIcon="@Icons.Material.Outlined.Save"
                                   Color="Color.Success"
                                   Style="text-transform:none"
                                   Disabled=false>
                        </MudButton>
                        <MudButton OnClick="@((e) => DeleteObject())"
                                   Variant="Variant.Text"
                                   EndIcon="@Icons.Material.Filled.Delete"
                                   Color="Color.Error"
                                   Style="text-transform:none"
                                   Disabled=false>
                        </MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>

        </MudGrid>
    </EditForm>
</MudPaper>

@code {
    [Parameter]
    public int id { get; set; }

    private Organization editingObj { get; set; } = new Organization() { IsNew = true };
    private string Title { get; set; } = "Create";
    private bool isLoading { get; set; } = true;
    private string insertUdateInfo = "updated";
    private string returnHome = "admin";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        EditOrganization(editingObj);
        if(firstRender)
        {
            if (id == 0)
            {
                isLoading=false;
                StateHasChanged();
            }
            else
            {
                //Update
                Title = "Update";
                await LoadObject();
            }
        }
    }

    private async Task LoadObject()
    {
        isLoading = true;
        StateHasChanged();
        editingObj = await _organizationService.GetOrganizationById(id);
        editingObj.IsNew = false;
        isLoading = false;
        StateHasChanged();
    }

    private async Task UpsertObject()
    {
        if (editingObj.Name == null || editingObj.Name == "")
        {
            OnClickSnack("Error", "Name is required", true);
        }
        else
        {
            if (editingObj.Id == 0)
            {
                //Create
                await _organizationService.AddOrganization(editingObj);
                insertUdateInfo = "created";
            }
            else
            {
                await _organizationService.UpdateOrganization(editingObj);
                insertUdateInfo = "updated";
            }
            OnClickSnack("Success", $"Organization {editingObj.Name} was {insertUdateInfo}.", true);
            await _organizationService.GetOrganizations();
            _navigationManager.NavigateTo(returnHome);
        }
    }

    private void OnClickSnack(string severity, string message, bool close = true)
    {
        var severityType = (Severity)Enum.Parse(typeof(Severity), severity, true);
        @if (!close)
                _snackbar.Add(message, severityType, ConfigurationBinder => { ConfigurationBinder.ShowCloseIcon = false; });
        _snackbar.Add(message, severityType);

    }

    protected override async Task OnInitializedAsync()
    {
        await _organizationService.GetOrganizations();
        _organizationService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        _organizationService.OnChange -= StateHasChanged;
    }

    private void EditOrganization(Organization organization)
    {
        organization.Editing = true;
        editingObj = organization;

    }

    private async Task DeleteObject()
    {
        if (editingObj.Id  == 0)
            return;
        await _organizationService.DeleteOrganization(editingObj.Id);
        await _organizationService.GetOrganizations();
        _navigationManager.NavigateTo(returnHome);
    }
    private async Task CancelEditing()
    {
        editingObj = new Organization();
        await _organizationService.GetOrganizations();
        _navigationManager.NavigateTo(returnHome);
    }
}
