@inject NavigationManager _navigationManger
@inject IOrganizationService _organizationService

<MudPaper Width="90%">
    <div class="row at-4">
        <div class="col-6">
            <MudText Typo="Typo.h4" Class="card-title text-primary">Organizations</MudText>
        </div>
        <MudDivider></MudDivider>
        <MudDivider DividerType="DividerType.Middle"></MudDivider>
        <div class="col-4 offset=2">
            <MudButton Variant="Variant.Filled" Size=Size.Medium Style="float:right"
                       Color="Color.Primary" Href="organization/create">Add New Organization</MudButton>
        </div>
        <div class="col-12">
            @if (Organizations.Any())
            {
                <MudTable Items="@Organizations" Hover="true" CanCancelEdit="true">
                    <ColGroup>
                        <col/>
                        <col style="width: 200px"/>
                        <col style="width: 180px"/>
                        <col style="width: 180px"/>
                        <col />
                        <col />
                        <col />
                    </ColGroup>
                    <HeaderContent>
                        <MudTh>Id</MudTh>
                        <MudTh>Name</MudTh>
                        <MudTh>Phone</MudTh>
                        <MudTh>Address</MudTh>
                        <MudTh>Visible</MudTh>
                        <MudTh>Active</MudTh>
                        <MudTh>Actions</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Id">@context.Id</MudTd>
                        <MudTd DataLabel="Name">@context.Name</MudTd>
                        <MudTd DataLabel="Phone">
                            <div class="row">
                                <span class="inlineHeading">Phone1:  @context.Phone1 </span> 
                            </div>
                            <div class="row">
                                <span class="inlineHeading">Phone2: @context.Phone2</span>
                            </div>
                        </MudTd>
                        <MudTd DataLabel="Address">
                            <div class="row">
                                <span class="inlineHeading">Address1:</span>
                                <span> @context.Address1</span>
                            </div>
                            <div class="row">
                                <span class="inlineHeading">Address2:</span>
                                <span>@context.Address2</span>
                                
                            </div>
                        </MudTd>
                        <MudTd DataLabel="Visible">
                            @if (context.Visible)
                            {
                                <MudIcon Icon="@Icons.Material.Filled.Visibility"
                                 Color="Color.Success" Title="@visibleTitle"></MudIcon>
                            }
                            else
                            {
                                <MudIcon Icon="@Icons.Material.Filled.VisibilityOff"
                                 Color="Color.Error" Title="@inVisibleTitle"></MudIcon>
                            }
                        </MudTd>
                        <MudTd DataLabel="Deleted">
                            @if (context.Deleted)
                            {
                                <MudIcon Icon="@Icons.Material.Filled.ThumbDown"
                                 Color="Color.Error" Title="@deletedTitle"></MudIcon>
                            }
                            else
                            {
                                <MudIcon Icon="@Icons.Material.Filled.ThumbUp"
                                 Color="Color.Success" Title="@activeTitle"></MudIcon>
                            }
                        </MudTd>
                        <MudTd DataLabel="Actions">
                            <MudButton OnClick="@((e) => EditObj(context))"
                                   Variant="Variant.Text"
                                   EndIcon="@Icons.Material.Outlined.Edit"
                                   Color="Color.Default"
                                   Style="text-transform:none"
                                   Disabled=@disableEdit>
                            </MudButton>
                        </MudTd>
                    </RowTemplate>

                </MudTable>
            }
            else
            {
                if (isLoading)
                {
                    <div class="loadingBox">
                        <img src="/images/windows-xp-loading.gif">
                    </div>
                }
                else
                {
                    <p>No Records Found</p>
                }
            }
        </div>
    </div>
</MudPaper>



@code {
    private IEnumerable<Organization> Organizations = new List<Organization>();
    private string objApi = "Organization";
    private string visibleTitle = "Visible";
    private string inVisibleTitle = "Invisible";
    private string deletedTitle = "Inactive";
    private string activeTitle = "Active";


    protected override async Task OnInitializedAsync()
    {
        await _organizationService.GetOrganizations();
    }

    private int DeleteId { get; set; } = 0;
    private int EditId { get; set; } = 0;
    private bool disableEdit { get; set; } = false;
    public bool isLoading { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadObject();
        }


    }
    private async Task LoadObject()
    {
        isLoading = true;
        StateHasChanged();
        Organizations = await _organizationService.GetOrganizations();
        isLoading = false;
        StateHasChanged();
    }

    public async Task DeleteObj(Organization obj)
    {
        DeleteId = obj.Id;

        //Delete
        await _organizationService.DeleteOrganization(DeleteId);
        await LoadObject();

    }


    public async Task EditObj(Organization obj)
    {
        EditId = obj.Id;

        //Update
        _navigationManger.NavigateTo($"{objApi}/edit/{EditId}");
        await LoadObject();

    }


}
